<style>
  .select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper .select__select {
  width: 100%;
  padding-right: 30px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper .icon-caret {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  width: 10px;
  height: 6px;
}

#custom-width-selector {
  border: 1px solid #000;
}
#custom-width-selector:hover {
  border: 1px solid #000;
}
label {
  font-size: 13px;
}

</style>

{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >

    {%- comment -%}
      1. GET THE METAFIELD DATA
    {%- endcomment -%}
    {%- assign width_map = product.metafields.custom.width_to_panel_map.value -%}

    {%- comment -%}
      THIS IS THE NEW LINE:
      Get the currently selected variant's panel count (Option 1)
    {%- endcomment -%}
    {%- assign current_panel_selection = product.selected_or_first_available_variant.option1 -%}

    {%- comment -%}
      2. CREATE THE CUSTOM "WIDTH" SELECTOR
    {%- endcomment -%}
  {%- if width_map != blank -%}
  <div class="product-form_input product-form_width-selector">
    <label for="custom-width-selector">Select Width</label>
    <div class="select-wrapper">
      <select id="custom-width-selector" class="select__select" name="properties[Width]">
        {%- for item in width_map -%}
          <option
            value="{{ item.panel_count | escape }}"
            {%- if current_panel_selection == item.panel_count -%}
              selected="selected"
            {%- endif -%}
          >
            {{ item.width_label }}
          </option>
        {%- endfor -%}
      </select>
      <svg class="icon icon-caret" viewBox="0 0 10 6">
        <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>
{%- endif -%}

    {%- for option in product.options_with_values -%}
      {%- comment -%}
        ADD THIS CODE TO HIDE THE 'Fabric Panels' OPTION
      {%- endcomment -%}
      {%- liquid
        assign option_name_downcased = option.name | downcase
        assign is_hidden_option = false
        if option_name_downcased == 'fabric panels'
          assign is_hidden_option = true
        endif
      -%}

      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
